@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #9e5789;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: #6c1d55;
  border-radius: 5px;
  border: none;
  color: #ecf0f1;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #d0aac5;
  border-radius: 2px;
  color: #d0aac5;
  font-size: 1.3rem;
}
